- name: Restart SSH
  systemd:
    name: ssh
    state: restarted

- name: Restart fail2ban
  systemd:
    name: fail2ban
    state: restarted

- name: Restart Docker
  systemd:
    name: docker
    state: restarted

- name: Restart Alloy
  systemd:
    name: alloy
    state: restarted
