default:
  user: "{{ dotenv.dotenv.PVE_EXPORTER_USER }}"
  password: "{{ dotenv.dotenv.PVE_EXPORTER_PASSWORD }}"
  # token_name: "{{ dotenv.dotenv.PVE_EXPORTER_TOKEN_NAME }}"
  # token_value: "{{ dotenv.dotenv.PVE_EXPORTER_SECRET }}"
  verify_ssl: false
